body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.header {
    margin-top: 50px;
}
.header h1 {
    font-size: 18px;
    opacity: 0.8;

}
.bismillah {
    font-size: 40px;
    font-family: 'Arabic Calligraphy', sans-serif;
    margin-top: 30px;
}
.main-section {
    margin-top: 30px;
}
.mood-text {
    font-size: 20px;
    margin-bottom: 20px;

   
}
.mood-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    

}
.mood-boxes .box {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.color-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.box {
    width: 100px;
    height: 100px;
    
}
.boxes{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: scale 1s;
        cursor: pointer;
}
.boxes:hover{
    scale: 1.2;
}
.angry { background-color: #ffa995; }
.sad { background-color: #ff61b0; }
.happy { background-color: #88e3ff; }