*{
    font-family: Montserrat, sans-serif;
    background-color: white;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-img{
    height: 12rem;
    
}
.header-txt{
    opacity: 0.6;
}
.main-heading{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0.8;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-header{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
}
.main-header-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;

}
.main-header-elements img{
    height: 1.25rem;
    margin-right: 0.3rem;
}